$red: (
    lightest: #fff3f4,
    lighter: #ffe3e6,
    light: #fd9ba4,
    default: #fd6f7e,
);
$orange: (
    lightest: #fffcfa,
    lighter: #fff7f0,
    light: #ffebdc,
    default: #ffa057,
);
$yellow: (
    light: #fff9ed,
    default: #ffc757,
);
$green: (
    lightest: #fafefc,
    lighter: #edfcf5,
    light: #d3f8e6,
    default: #6cb644,
);
$turquoise: (
    default: #47dff5,
);
$blue: (
    lightest: #fafdff,
    lighter: #eef8fe,
    light: #d6effc,
    default: #47b8f2,
);
$purple: (
    default: #d347ae,
);
$pink: (
    default: #ff5e91,
);
$white: #fff;
$black: #000;
$gray: (
    lightest: #f3f5e6,
    lighter: #e9ecef,
    light: #dce0e5,
    default: #a9b6a2,
    dark: #a0afba,
    darker: #627384,
    darkest: #505452,
    darkestier: #35454f,
);
